$colors: (
  primary: $sonic-silver,
  secondary: $mint,
  secondary-transparent: $mint-transparent,
  supplementary: $mint-cream,
  bl: $black,
  cream: $mint-cream,
);

@each $prop, $value in $colors {
  .color-#{$prop} {
    color: $value;
  }

  .bg-color-#{$prop} {
    background-color: $value;
  }
}