.rounded {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.x-large {
  font-size: 40px;
}

.medium {
  font-weight: 500;
  font-size: 25px;
}

.regular {
  font-size: 20px;
}
