.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.inverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.fixed {
  position: fixed;
}

.center-h {
  margin-left: auto;
  margin-right: auto;
}

.fit-content {
  width: fit-content;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden-overflow {
  overflow: hidden;
}

.none {
  display: none;
}

.wrap {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .md-inline {
    display: inline;
  }

  .md-block {
    display: block;
  }

  .md-flex {
    display: flex;
  }

  .md-align-center {
    align-items: center;
  }
}
